<html>

<body>

    <h1 class="heading">Welcome to Angular {{versionNumber}}</h1>

    <!--
    <app-login></app-login>
    <button (click)="getName('Sawan')">Click Me</button>
    <br><br>
    <button (click)="compareValue()">Check Value</button>
    <br><br>
    <input type="text" placeholder="Keyup Event..." #data_id (keyup)="getData(data_id.value)" />
    <br><br>
    <input type="text" placeholder="Keydown Event..." #data_id1 (keydown)="getData(data_id1.value)" />
    <br><br>
    <button (click)="getData('Sawan')">Get DATA</button>
    <br><br>
    <input type="text" placeholder="Blur Event..." #data_id2 (blur)="getData(data_id2.value)" />
    <br><br>
    <input type="text" placeholder="Input Event ..." #data_id3 (input)="getData(data_id3.value)" />
    <br><br>
    <h2 (mouseover)="getData('Mouse Over event called!')">Mouse Over Event</h2>
    -->

    <!--
    <input type="text" #data_id placeholder="Enter something..." name="data" />
    <br>
    <button (click)="getData(data_id.value)">Click</button>
    <br>
    <p>{{displayVal}}</p>
    -->

    <!--
    <button (click)="counter('add')">++</button>
    <p class="cc"><b>Counter: {{count}}</b></p>
    <button (click)="counter('minus')">--</button>
    -->

    <!--
    <input type="text" placeholder="Enter value" disabled={{disable}}/>
    <br><br>
    <input type="text" placeholder="Enter value" [disabled]=disable/>
    <br><br>
    <button (click)="fieldDisable()">Enable/Disable</button>
    -->

    <!--
    <p *ngIf="shoow; then ifBlock else elseBlock"></p>
    <ng-template #ifBlock>If Condition</ng-template>
    <ng-template #elseBlock>Else Condition</ng-template>
    <br>
    <button (click)="changeIfElse()">On Click</button>
    -->

    <!--
    <ng-template [ngIf]="color === 'red'">
        <h1 style="color: red;">Red Color</h1>
    </ng-template>
    <ng-template [ngIf]="color === 'green'">
        <h1 style="color: green;">Green Color</h1>
    </ng-template>
    <ng-template [ngIf]="color === 'blue'">
        <h1 style="color: blue;">Blue Color</h1>
    </ng-template>
    -->

    <div [ngSwitch]="day">
        <h1 *ngSwitchCase="'Sunday'" style="color: red;">Sunday</h1>
        <h1 *ngSwitchCase="'Monday'" style="color: blue;">Monday</h1>
        <h1 *ngSwitchCase="'Tuesday'" style="color: green;">Tuesday</h1>
        <h1 *ngSwitchCase="'Wednesday'" style="color: yellow;">Wednesday</h1>
        <h1 *ngSwitchCase="'Thursday'" style="color: skyblue;">Thursday</h1>
        <h1 *ngSwitchCase="'Friday'" style="color: pink;">Friday</h1>
        <h1 *ngSwitchCase="'Saturday'" style="color: purple;">Saturday</h1>
        <h1 *ngSwitchDefault>Unknown Day</h1>
    </div>

</body>

</html>