<html>

<body>
    <h1>Welcome to Angular {{versionNumber}}</h1>
    <app-login></app-login>
    <button (click)="getName('Sawan')">Click Me</button>
    <br><br>
    <button (click)="compareValue()">Check Value</button>
    <br><br>
    <input type="text" placeholder="Keyup Event..." #data_id (keyup)="getData(data_id.value)" />
    <br><br>
    <input type="text" placeholder="Keydown Event..." #data_id1 (keydown)="getData(data_id1.value)" />
    <br><br>
    <button (click)="getData('Sawan')">Get DATA</button>
    <br><br>
    <input type="text" placeholder="Blur Event..." #data_id2 (blur)="getData(data_id2.value)" />
    <br><br>
    <input type="text" placeholder="Input Event ..." #data_id3 (input)="getData(data_id3.value)" />
    <br><br>
    <h2 (mouseover)="getData('Mouse Over event called!')">Mouse Over Event</h2>
</body>

</html>